{%  extends 'Layout/base_home.html' %}

{% block title %} Application Form {% endblock %}

{% block content %}
    <h1>Application Form Page</h1>
    <div class="section1">
        <h1 class="head-title">Audits & Certifications</h1>
    </div>
    <div class="section2">
        <p>
            IDFL conducts on-site audits, and documentation reviews to verify supplier 
            traceability and social, chemical, environmental and animal welfare. 
            Click below to learn details about each of the audit certifications offered by IDFL.
        </p>
    </div>
    <div class="section3">
        <div class="row">
            <div class="col-3">
                <div class="brands"><a href="" class="desc-link">
                    <img src="" alt="">
                </a>
            </div>
            </div>
            <div class="col-3">
                <div class="brands">
                    <a href="" class="desc-link">
                        <img src="" alt="">
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="brands">
                    <a href="" class="desc-link">
                        <img src="" alt="">
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="brands">
                    <a href="" class="desc-link">
                        <img src="" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}